extends ../layouts/default

block variables 
 - var title = 'Главная страница сайта'

block content
  include ../components/cards-list/cards-list
    block items
      include ../compontents/card/card
      +card('/')